body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    transition: background-image 1s ease-in-out; 
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
}